{% extends "layouts/base.html" %}

{% block title %} Lista Residentes Cadastrados {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<table class="table">
	<thead>
		<tr>
		<th scope="col">id</th>	
		<th scope="col">Nome</th>
		<th scope="col">Serial</th>
		<th scope="col"><a href="">Deletar Tudo</a> </th>
	  </tr>
	</thead>
	<tbody>
	  {% for object in object_list %}
		  <tr>
			  <th scope="row">{{ object.id }}</th>
			  <td>{{ object.name }}</td>
			  <td>{{ object.serial }}</td>
			  <td> <a href="{% url 'ResidentDelete' object.id %}">deletar</a></td>
		  </tr>
	  {% endfor %}
	</tbody>
  </table>
	  <a class="btn btn-outline-dark btn-block" href="" role="button">Deletar Todos os Cartoes</a>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}